.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-button {
    --border-radius: 50%;
    --background-image: url('/assets/icon/favicon.png');
    --background-repeat: no-repeat;
    --background-position: center center;
    --background-size: cover;
    width: 80vw;
    height: 80vw;
    max-width: 90%;
    max-height: 90%;
    min-width: 300px;
    min-height: 300px;
  }

  .image-button {
    background-image: url('/assets/icon/contrasena.png');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 50vw; 
    height: 50vh; 
    max-width: 600px; 
    max-height: 600px; 
    min-width: 200px; 
    min-height: 200px; 
    border-radius: 50%; 
  }

  .image-button:active {
    opacity: 0.7; 
  }

  .label-clickeable {
    transition: transform 0.1s ease-in-out;
  }
  
  .label-clickeable.clicked {
    transform: scale(0.95);
    opacity: 0.7;
  }

  ion-toolbar {
    --background: transparent; 
    ion-title {
      color: #8e44ad; 
      font-weight: bold; 
      font-size: 1.2em; 
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); 
    }
  }