ion-list {
    --border-width: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-img {
    max-width: 80%;
    margin: auto;
  }

  ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  h2 {
    margin-bottom: 15px;
  }

  ion-title {
    color: #603c99; 
    text-align: center; 
    font-size: 20px; 
    font-weight: bold; 
  }

  .title-box {
    display: inline-block;
    background-color: #666; 
    color: #fff; 
    padding: 8px 16px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .non-selected-python {
    animation: blink 2s linear infinite;
    color: #8a2be2; 
  }